
body {
	background : #9e9e9e;
}

 #popup {
 	border : 2px solid black;
 	height : 200px;
 	width : 400px;
 	display : flex;
 	justify-content : center;
 	align-items : center;
 	top : -300px;
 	position : relative;
 	margin : auto;
 	transform-origin : 10px 10px; 
 	animation : popup 1s 1s ease forwards,
 				swing 2s 3s ease forwards;
 }

 img {
 	height : 200px;
 	width : 400px;
 	position : fixed;
 }

 button {
 	background : black;
 	color : #f44336;
 	height : 40px;
 	width : 300px;
 	border : 1px solid black;
 	font-weight : bold;
 	z-index : 1;
 	&:hover {
 		cursor : pointer;
 	}
 }


 @keyframes popup {
 	0% {opacity : 0}
 	70% {transform : translateY(500px)}
 	100% {transform : translateY(450px); opacity : 1}
 }

@keyframes swing {
 	0% {transform : translateY(450px) rotateZ(0deg)}
 	40% {transform : translateY(450px) rotateZ(90deg)}
 	70% {transform : translateY(450px) rotateZ(70deg)}
 	100% {transform :translateY(450px)  rotateZ(75deg)}
 } 

